<h2>{{title}}</h2>
<input type="text" [(ngModel)]="title">

<table [title]="tableTitle" [attr.data-chris]="best-person">
  <tr>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Hobby</th>
  </tr>
  <tr *ngFor="let user of users" 
  (click)="highlight($event); favourite.emit(user)">
    <td>{{user.firstname}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.hobby}}</td>
  </tr>
</table>

<h3 [ngClass]="myClasses">ngClass</h3>
<h3 [ngStyle]="myStyles">ngStyle</h3>

<button (click)="myClasses.underline = !myClasses.underline">Toggle Underline</button>
<button (click)="myClasses.pink = !myClasses.pink">Toggle Pink</button>
<button (click)="myClasses.large = !myClasses.large">Toggle Large</button>

<button (click)="toggleStyles(); this.everythingBlue = !this.everythingBlue">Toggle Blue</button>
<p [appZoomIn]="'5em'" [color]="'hotpink'">Directives are just components without templates</p>

<!-- <p *ngIf="showStructuralDirective">Structural directives create/destroy DOM elements</p> -->
<ng-template [ngIf]="showStructuralDirective">
  <p>Structural directives create/destroy DOM elements</p>
</ng-template>

<button (click)="showStructuralDirective = !showStructuralDirective">Toggle</button>