<form (ngSubmit)="doSubmit()" [formGroup]="addUserForm">
  <input type="text" placeholder="Firstname" formControlName="firstname">
  <input type="text" placeholder="Surname" formControlName="surname" nosmith>
  <input type="text" placeholder="Hobby" formControlName="hobby">
  <input type="email" placeholder="Email" formControlName="email">
  <button type="submit" [disabled]="addUserForm.invalid">Submit</button>
</form>

<button (click)="populateForm()">Enter Michael</button>
<button (click)="makeBruford()">Enter Family</button>