<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img class="special" *ngIf="displayLogo" src="{{logo}}" alt="">
  <app-view-user 
  [users]="users" 
  [otherThings]="'cool'"
  (favourite)="setFavourite($event)"
  ></app-view-user>
  <app-add-user (newUser)="doNewUser($event)"></app-add-user>
  <p>My favourite user is: {{favouriteUser?.firstname}}</p>
</div>